    <div class="navbar navbar-inverse navbar-fixed-top cwm-black-glass-glossy cwm-box-shadow-90" role="navigation">
     
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand hmm-navbar-brand" href="#">CSCI 580 Artificial Intelligence - Project 2</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav hmm-nav">
            <li id="home" class="active"><a href="#">Run Full Program</a></li>
            <li><a id="data-generator" href="#data-generator">Run Data Generator</a></li>
            <li><a id="em-algorithm" href="#em-algorithm">Run EM Algorithm</a></li>
            <li><a id="vertibi-algorithm" href="#vertibi-algorithm">Run Vertibi Algorithm</a></li>
            <li><a id="roc" href="#roc">ROC</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
   
    <div class="cwm-transparent cwm-spacer-40"></div>

   <div class="col-md-12" id="main-content"></div>

