<div class="span12">
	<h2 class="text-info">CSCI 580  Introduction to Artificial Intelligence - Project 2</h2>
    <h4>By: Randy M. Ledbetter</h4>
    <hr />
</div>
<div class="row-fluid span12">
  <blockquote>
  	<p class="lead">
  	<strong class="hmm-text-warning hmm-header-28">One last step:</strong> <strong class="hmm-text-grey">please upload your observation sequence file and your sensory and transition probabilities file in accordance with the instructions outlined below.</strong>
    </p>
  </blockquote>
  <hr />
</div>
<div class="row-fluid">
  <div id="observation-file-view" class="span6"></div>
  <div id="probability-file-view" class="span6"></div>
</div>
<div class="row-fluid">
  <h4 id="hmm-file-submit-error-msg" class="hidden text-error pull-right">One or more input files are missing or contain errors</h4>
</div>
<div class="row-fluid">
  <hr />
  <button type="button" id="hmm-upload-submit-btn" class="btn btn-warning pull-right hmm-upload-submit-btn">Continue</button>
  <button type="button" id="hmm-upload-back-btn"class="btn btn-primary pull-right hmm-upload-back-btn">Back</button>
</div>

